@use "../../scss/" as *;
input {
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: $border-radius;
  background-color: $black;
  color: $txt-color;
  margin-bottom: 3rem;
  @include moblie {
    width: 100%;
  }
}
